
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HexactaLabs_MVC.Dtos.Movies.MovieDto

<section>
    <div>
        @Html.DisplayFor(m => m.Name)
    </div>
    <div>
        @Html.DisplayFor(m => m.Plot)
    </div>
    <div>
        @Html.DisplayFor(m => m.ReleaseDate)
    </div>
    <div>
        @Html.DisplayFor(m => m.Runtime)
    </div>
    <div>
        <img src="@Model.CoverLink" /> 
    </div>
 
</section>